@mixin mobile() {
    line-height: 65px;
    height: 80px;
    font-size: 20px;
}
$whiteBg:white;
$paddingContent : 50px 100px;
//$mainTextColor:#5a5c69;
$mainTextColor:#494848f3;
body{
    background: rgba(243, 239, 239, 0.959);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
button{
    &:focus{
        box-shadow: none !important;
    }
}
.header{
    background: white;
    width: 100%;
    position: fixed;
    top: 0px;
    //height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 4px 4px 0px rgba(1,1,1,0.2);
    z-index: 1;
    .erralogo{
        width: 70px;
        height: 80px;
        padding: 10px 0px;
    }
    .buttonsLeft{
        display: flex;
        .logoBtn{
            margin-left: 0px !important;
        }
        #menu{
            display: none;
            @include mobile();
        }
        
        .mainButtons{
            margin-left: 100px;
            button{
                color: #777;
                font-size: 15px;
                font-weight: 500;
                height: 78px;
                line-height: 65px;
                &:hover{
                    text-decoration: none;
                    color: black;
                    border-bottom: 3px solid green !important;
                }
                &:focus{
                    box-shadow: none;
                }
            }
        }
    }
   
}
#closeBtn{
    right: 10px;
    top: 0px;
    display: none;
    position: absolute;
    @include mobile();
    // display: none;
    // float: right;
    // @include mobile();
}
#home{
    margin-top: 80px;
    text-align: center;
    padding: 20px 100px;
    img{
        border-radius: 5px;
        width: 100%;
        height: 550px;
    }
    #carouselImages{
        z-index: 0;
    }
    
}
#about{
    background: $whiteBg;
    width: 100%;
    height: auto;
    #aboutContent{
        text-align: center;
        padding: $paddingContent;
        color: $mainTextColor;
        #title{
            font-weight: bold;
            font-size: 50px;
        }
        #whatIS{
            font-weight: bold;
            font-size: 20px;
        }
        #descriptions{
            line-height: 35px;
        }
    }
}
#contact{
    background: $whiteBg;
    width: 100%;
    height: auto;
    #contactContent{
        text-align: center;
        padding: $paddingContent;
        color: $mainTextColor;
        #title{
            text-align: center;
            font-weight: bold;
            font-size: 50px;
        }
        .hotlineTitle{
            font-weight: bold;
        }
        .hotlineNumber{
            color:#e74a3b;
            font-weight: bold;
        }
    }
}
#safety{
    img{
        width: 500px;
        height: 300px;
        text-align: center;
        display: flex;
    }
    #safetyContent{
        padding: $paddingContent;
        background:$whiteBg;
        color: $mainTextColor;
        width: 100%;
        .row{
            .col-lg-6{
                padding: 10px 50px;
            }
        }
        .titles{
            font-weight: bold;
            font-size: 30px;
        }
        .descriptions{
            line-height: 30px;
            text-align: justify;
        }
        a{
            font-weight: bold;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
.noneDesktopButtons{
    display: none;
    width: 220px;
    height: 100vh;
    position: fixed;
    background: #212529;
    z-index: 99;
    top: 0px;
    left: 0px;
    box-shadow: 2px 4px 4px 2px rgba(1,1,1,0.2);
    color:white;
    padding: 20px 20px;
    button{
        float: left;
        clear: left;
        text-align: justify;
        color:white;
        
    }
}
@media screen and (max-width:700px){
    .header{
        .buttonsLeft{
            .mainButtons, .logoBtn{
                display: none;
            }
        }
        #menu{
            display: block !important;
        }
    }
    // .noneDesktopButtons{
    //     display: block;
    // }
    #home{
        
        padding: 0px 0px;
        img{
            height: 400px;
            border-radius: 0px;
        }
        
    }
    #about{
        width: 100% !important;
        #aboutContent{
            padding:10px 30px;
        }
    }
    #safety{
        img{
            width: 100%;
            height: 200px;
        }
        #safetyContent{
            padding:10px 30px;
            .row{
                .col-lg-6{
                    padding: 10px 20px;
                }
            }
        }
    }
    #contact{
        #contactContent{
            padding:10px 30px;
        }
    }
}